* {
  font-family: microsoft jhenghei;
}

.btn-default {
  border: 1px solid #000;
  cursor: pointer;
  background-color: #ffe100;
  border-radius: 3px;
  transition: 0.5s;
  padding: 5px 8px 5px 8px;
}
.btn-default:hover {
  background-color: #ffb805;
}

.map {
  height: 500px;
  width: 500px;
  position: relative;
}

body, .view {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

html, body {
  margin: 0;
  position: relative;
}

body {
  flex-direction: column;
}

.view {
  background-color: #fff;
}

.control {
  margin: 0px 20px 0px 20px;
}

h1 {
  color: #fff;
}

h3 {
  margin-bottom: 3px;
}

.ol-scale-line {
  z-index: 100;
}

.footer {
  background-color: #444;
  width: 100%;
  height: 8%;
  text-align: center;
  position: fixed;
  bottom: 0px;
}
.footer a {
  color: white;
  font-weight: 100;
  font-size: 10px;
  padding: 0px;
  margin: 0;
  text-decoration: none;
}

.center {
  pointer-events: none;
}
.center:after, .center:before {
  content: "";
  display: block;
  background-color: rgba(255, 0, 0, 0.6);
  width: 2px;
  height: 20px;
  position: absolute;
  z-index: 200;
  left: 50%;
  top: 50%;
}
.center:before {
  transform: rotate(90deg);
}

#centerValue {
  position: absolute;
  z-index: 200;
  left: 33%;
  top: 53%;
  pointer-events: none;
}
